.role-container{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(180deg,#cfe3ff,#f7fbff);
}

.roles{
display:flex;
gap:40px;
margin-top:40px;
}

.card{
width:260px;
padding:30px;
background:white;
border-radius:20px;
box-shadow:0 20px 40px rgba(0,0,0,.1);
cursor:pointer;
transition:.3s;
text-align:center;
}

.card:hover{
transform:translateY(-8px);
}