<button class="back" routerLink="/">
← Volver
</button>

<div class="container">

  <div class="form">

    <div class="logo">
      <img src="/assets/movify.jpg">
      <span>MoviFY</span>
    </div>

    <h2>Iniciar sesión</h2>
    <p class="subtitle">
      Accede a tu cuenta para continuar
    </p>

    <form (ngSubmit)="onLogin()">

      <input 
        type="email"
        name="correo"
        placeholder="Correo electrónico"
        [(ngModel)]="usuario.correo"
        required
      >

      <input 
        type="password"
        name="contrasena"
        placeholder="Contraseña"
        [(ngModel)]="usuario.contrasena"
        required
      >

      <button type="submit" class="btn">
        Entrar
      </button>

    </form>

    <button class="back" routerLink="/registro">
← Volver
</button>

  </div>

</div>