<div class="registro-wrapper">

  <button class="btn-volver" routerLink="/registro">← Volver</button>

  <!-- LADO IZQUIERDO - FONDO -->
  <div class="lado-izquierdo">
    <img src="/assets/fondoregistro.png" class="fondo-img">
  </div>

  <!-- LADO DERECHO - FORMULARIO -->
  <div class="lado-derecho">
    <div class="form-card">

      <img src="/assets/movify.jpg" class="form-logo">
      <h1>Registro Usuario</h1>
      <p class="subtitle">Solicita transporte, envíos y domicilios</p>

      <div class="input-group">
        <span class="icon">👤</span>
        <input type="text" placeholder="Nombre completo" [(ngModel)]="datos.nombre">
      </div>

      <div class="input-group">
        <span class="icon">✉️</span>
        <input type="email" placeholder="Correo electrónico" [(ngModel)]="datos.correo">
      </div>

      <div class="input-group">
        <span class="icon">🔒</span>
        <input [type]="mostrarPassword ? 'text' : 'password'"
          placeholder="Contraseña" [(ngModel)]="datos.password">
        <span class="toggle" (click)="mostrarPassword = !mostrarPassword">
          {{ mostrarPassword ? '🙈' : '👁️' }}
        </span>
      </div>

      <div class="input-group">
        <span class="icon">🔒</span>
        <input [type]="mostrarConfirmar ? 'text' : 'password'"
          placeholder="Confirmar contraseña" [(ngModel)]="confirmar">
        <span class="toggle" (click)="mostrarConfirmar = !mostrarConfirmar">
          {{ mostrarConfirmar ? '🙈' : '👁️' }}
        </span>
      </div>

      <p class="msg-error" *ngIf="error">❌ {{ error }}</p>
      <p class="msg-exito" *ngIf="exito">✅ {{ exito }}</p>

      <button class="btn-crear" (click)="registrar()" [disabled]="cargando">
        👤 {{ cargando ? 'Registrando...' : 'Crear cuenta' }}
      </button>

      <div class="separador"><span>o continúa con</span></div>

      <div class="social-buttons">
        <button class="btn-social">
          <img src="https://www.google.com/favicon.ico" width="18"> Google
        </button>
        <button class="btn-social">
          <img src="https://www.facebook.com/favicon.ico" width="18"> Facebook
        </button>
      </div>

      <p class="ir-login">
        ¿Ya tienes cuenta?
        <span routerLink="/login">Iniciar sesión ›</span>
      </p>

    </div>
  </div>

</div>